{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
  <meta name="theme-color" content="#123456" />
  <link rel="shortcut icon" href="{% static 'lang-logo.png' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=K2D" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.4.2/css/all.css">
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
  <title>Miko's fancy inventory app</title>
</head>

<body>
  <div id="content">
    <nav>
      <h1>
        <a class="ajax" href="/" data-url="/" data-dump=".main">
          Miko's fancy inventory app
        </a>
      </h1>
    </nav>
    <div class="main">
      {% block content %}
      {% endblock %}
    </div>
    <div class="jesus">
      <img src="{% static 'jesus1.gif' %}" />
      <img src="{% static 'jesus2.gif' %}" />
      <img src="{% static 'jesus3.gif' %}" />
    </div>
  </div>
  <div id="modal">
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.4.0/adapter.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
  <script src="{% static 'scripts.js' %}"></script>
</body>

</html>