{% load i18n %}

<div id="list">
  {% if q %}
  {% with count=parts.count %}
  <p>{{ count }} result{{ count|pluralize }} for "{{ q }}"</p>
  <button class="ajax" href="/" data-url="/" data-dump="#main">
    {% trans "Show All" %}
    <i class="fas fa-list"></i>
  </button>
  {% endwith %}
  {% endif %}
  {% if parts %}
  <button class="new" type="button">
    {% trans "Add new part" %}
    <i class="fas fa-plus-square"></i>
  </button>
  <div class="table">
    <div class="tr">
      <div class="th">{% trans "Partno" %}</div>
      <div class="th">{% trans "Description" %}</div>
      <div class="th">{% trans "Location" %}</div>
      <div class="th">{% trans "Shelf" %}</div>
      <div class="th">{% trans "Group" %}</div>
      <div class="th">{% trans "Total" %}</div>
      <div class="th">{% trans "Alarm" %}</div>
      <div class="th">{% trans "Price" %} (€)</div>
      <div class="th">{% trans "1st Address" %}</div>
      <div class="th">{% trans "2nd Address" %}</div>
      <div class="th">{% trans "Extra Info" %}</div>
      <div class="th">{% trans "Update" %}</div>
    </div>
    <form class="tr d-none" method="POST" id="part0">
      {% csrf_token %}
      <div class="td" data-label="{% trans 'Partno' %}">
        <input type="text" name="partno" required />
      </div>
      <div class="td" data-label="{% trans 'Description' %}">
        <input type="text" name="description" />
      </div>
      <div class="td" data-label="{% trans 'Location' %}">
        <input type="text" name="location" />
      </div>
      <div class="td" data-label="{% trans 'Shelf' %}">
        <input type="text" name="shelf" />
      </div>
      <div class="td" data-label="{% trans 'Group' %}">
        <input type="text" name="group" />
      </div>
      <div class="td" data-label="{% trans 'Total' %}">
        <input type="text" name="total" value="0" />
      </div>
      <div class="td" data-label="{% trans 'Alarm' %}">
        <input type="text" name="alarm" />
      </div>
      <div class="td" data-label="{% trans 'Price' %} (€)">
        <input type="text" name="price" value="0.0" />
      </div>
      <div class="td" data-label="{% trans '1st Address' %}">
        <input type="text" name="primary_order_address" />
      </div>
      <div class="td" data-label="{% trans '2nd Address' %}">
        <input type="text" name="secondary_order_address" />
      </div>
      <div class="td" data-label="{% trans 'Extra Info' %}">
        <input type="text" name="extra_info" />
      </div>
      <div class="td" data-label="{% trans 'Update' %}">
        <button class="ajax" data-dump="#main" data-url="/new/" formaction="/new/" type="submit" title="{% trans 'Save' %}">
          <i class="fas fa-save"></i>
        </button>
        <button class="new" type="button" title="{% trans 'Undo' %}">
          <i class="fas fa-undo-alt"></i>
        </button>
      </div>
    </form>
    {% for part in parts %}
    <form class="tr{% if part.total <= part.alarm  %} alarm{% elif part.id == mod_part.id %} modified{% endif %}"
      method="POST" id="part{{ forloop.counter }}">
      {% csrf_token %}
      {% if q %}
      <input type="hidden" name="q" value="{{ q }}" />
      {% endif %}
      <input type="hidden" name="orig_partno" value="{{ part.partno }}" />
      <div class="td" data-label="{% trans 'Partno' %}">
        {% if part.partno %}
        <span class="toggle">
          {{ part.partno }}
        </span>
        <input class="d-none toggle" type="text" name="partno" value="{{ part.partno }}" required />
        {% else %}
        <span class="toggle">
          &nbsp;
        </span>
        <input class="d-none toggle" type="text" name="partno" required />
        {% endif %}
      </div>
      <div class="td" data-label="{% trans 'Description' %}">
        {% if part.description %}
        <span class="toggle">
          {{ part.description }}
        </span>
        <input class="d-none toggle" type="text" name="description" value="{{ part.description }}" />
        {% else %}
        <span class="toggle">
          &nbsp;
        </span>
        <input class="d-none toggle" type="text" name="description" />
        {% endif %}
      </div>
      <div class="td" data-label="{% trans 'Location' %}">
        {% if part.location %}
        <span class="toggle">
          {{ part.location }}
        </span>
        <input class="d-none toggle" type="text" name="location" value="{{ part.location }}" />
        {% else %}
        <span class="toggle">
          &nbsp;
        </span>
        <input class="d-none toggle" type="text" name="location" />
        {% endif %}
      </div>
      <div class="td" data-label="{% trans 'Shelf' %}">
        {% if part.shelf %}
        <span class="toggle">
          {{ part.shelf }}
        </span>
        <input class="d-none toggle" type="text" name="shelf" value="{{ part.shelf }}" />
        {% else %}
        <span class="toggle">
          &nbsp;
        </span>
        <input class="d-none toggle" type="text" name="shelf" />
        {% endif %}
      </div>
      <div class="td" data-label="{% trans 'Group' %}">
        {% if part.group %}
        <span class="toggle">
          {{ part.group }}
        </span>
        <input class="d-none toggle" type="text" name="group" value="{{ part.group }}" />
        {% else %}
        <span class="toggle">
          &nbsp;
        </span>
        <input class="d-none toggle" type="text" name="group" />
        {% endif %}
      </div>
      <div class="td" data-label="{% trans 'Total' %}">
        <span class="toggle">
          {{ part.total }}
        </span>
        <input class="d-none toggle" type="text" name="total" value="{{ part.total }}" />
      </div>
      <div class="td" data-label="{% trans 'Alarm' %}">
        {% if part.alarm != None %}
        <span class="toggle">
          {{ part.alarm }}
        </span>
        <input class="d-none toggle" type="text" name="alarm" value="{{ part.alarm }}" />
        {% else %}
        <span class="toggle">
          &nbsp;
        </span>
        <input class="d-none toggle" type="text" name="alarm" />
        {% endif %}
      </div>
      <div class="td" data-label="{% trans 'Price' %} (€)">
        {% if part.price %}
        <span class="toggle">
          {{ part.price }}
        </span>
        <input class="d-none toggle" type="text" name="price" value="{{ part.price }}" />
        {% else %}
        <span class="toggle">
          &nbsp;
        </span>
        <input class="d-none toggle" type="text" name="price" />
        {% endif %}
      </div>
      <div class="td" data-label="{% trans '1st Address' %}">
        {% if part.primary_order_address %}
        <span class="toggle">
          {{ part.primary_order_address }}
        </span>
        <input class="d-none toggle" type="text" name="primary_order_address" value="{{ part.primary_order_address }}" />
        {% else %}
        <span class="toggle">
          &nbsp;
        </span>
        <input class="d-none toggle" type="text" name="primary_order_address" />
        {% endif %}
      </div>
      <div class="td" data-label="{% trans '2nd Address' %}">
        {% if part.secondary_order_address %}
        <span class="toggle">
          {{ part.secondary_order_address }}
        </span>
        <input class="d-none toggle" type="text" name="secondary_order_address" value="{{ part.secondary_order_address }}" />
        {% else %}
        <span class="toggle">
          &nbsp;
        </span>
        <input class="d-none toggle" type="text" name="secondary_order_address" />
        {% endif %}
      </div>
      <div class="td" data-label="{% trans 'Extra Info' %}">
        {% if part.extra_info %}
        <span class="toggle">
          {{ part.extra_info }}
        </span>
        <input class="d-none toggle" type="text" name="extra_info" value="{{ part.extra_info }}" />
        {% else %}
        <span class="toggle">
          &nbsp;
        </span>
        <input class="d-none toggle" type="text" name="extra_info" />
        {% endif %}
      </div>
      <div class="td" data-label="{% trans 'Update' %}">
        <div class="d-none edit-toggle">
          <button class="ajax" data-dump="#main" data-url="/edit/" formaction="/edit/" type="submit" title="{% trans 'Save' %}">
            <i class="fas fa-save"></i>
          </button>
          <button class="edit" type="button" title="{% trans 'Undo' %}">
            <i class="fas fa-undo-alt"></i>
          </button>
        </div>
        <div class="edit-toggle remove-toggle">
          <button class="ajax" data-dump="#main" data-url="/plus/" formaction="/plus/" type="submit" title="{% trans 'Add' %}">
            <i class="fas fa-plus"></i>
          </button>
          <button class="ajax" data-dump="#main" data-url="/minus/" formaction="/minus/" type="submit" title="{% trans 'Subtract' %}">
            <i class="fas fa-minus"></i>
          </button>
          <button class="edit" type="button" title="{% trans 'Edit' %}">
            <i class="fas fa-edit"></i>
          </button>
          <button class="remove" type="button" title="{% trans 'Delete' %}">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
        <div class="d-none remove-toggle">
          <button class="ajax" data-dump="#main" data-url="/delete/" formaction="/delete/" type="submit" title="{% trans 'Delete' %}">
            <i class="fas fa-trash-alt"></i>
          </button>                
          <button class="remove" type="button" title="{% trans 'Undo' %}">
            <i class="fas fa-undo-alt"></i>
          </button>
        </div>        
      </div>
    </form>
    {% endfor %}
  </div>
  {% endif %}
</div>