{% load i18n %}

<div id="search">
  <h2>
    {% trans "Search for parts" %}
  </h2>
  <form method="GET">
    <label>
    {% trans "Part number/shelf/group/description" %}
    </label>
    <br>
    <input id="q" type="text" name="q" autocomplete="off">
    <br>
    <button class="ajax" data-dump="#main" data-url="/search/" formaction="/search/" type="submit">
      {% trans "Search" %}    
      <i class="fas fa-search"></i>
    </button>
    <button type="button" id="scanneron">
      {% trans "Read QR-code" %}
      <i class="fas fa-qrcode"></i>
    </button>
  </form>
</div>