<form action="/logout/" method="POST">
  {% csrf_token %}
  <button style="float:right" type="submit">
    Logout
  </button>
</form>
<p>
  &nbsp;
</p>
<h2>
  Search for part
</h2>
<form method="GET">
  <label>
    Part number or shelf
  </label>
  <br>
  <input class="q" type="text" name="q">
  <br>
  <button class="ajax" data-dump="#main" data-url="/search/" formaction="/search/" type="submit">
    Search
    <i class="fas fa-search"></i>
  </button>
</form>
<button type="button" class="scanner">
  Start/Stop Scanner
</button>
<div id="scanner-container"></div>