{% load i18n %}

<div id="topbar">
  {% if user.is_authenticated %}
  <form action="/logout/" method="POST">
    {% csrf_token %}
    <button type="submit">
      {% trans "Logout" %}
      <i class="fas fa-sign-out-alt"></i>
    </button>
  </form>
  <button class="excel">
    Excel
    <i class="far fa-file-excel"></i>
  </button>
  <div class="excel d-none">
    <form method="POST" action="/upload/" data-dump="#main" data-url="/upload/" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="parts">
      <button type="submit" type="submit">
        {% trans "Upload Excel" %}
      </button>
    </form>
    <form method="GET" action="/download/" enctype="multipart/form-data">
      <button type="submit">
        {% trans "Download Excel" %}
      </button>
    </form>
  </div>
  {% else %}
  <button class="d-none">{% trans "Signup" %}</button>
  {% endif %}
  <form method="POST" action="{% url 'language' %}">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select class="dropdown" name="language" data-dump="#main" data-url="{% url 'language' %}">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      {% for language in languages %}
      <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
        {{ language.name_local|capfirst }} ({{ language.code }})
      </option>
      {% endfor %}
    </select>
    <noscript>
      <button formaction="{% url 'language' %}" type="submit" title="{% trans 'Change Language' %}">
        {% trans "Change Language" %}
      </button>
    </noscript>
  </form>
</div>