<div id="topbar">
  <form action="/logout/" method="POST">
    {% csrf_token %}
    <button type="submit">
      Logout
      <i class="fas fa-sign-out-alt"></i>
    </button>
  </form>
  <form method="POST" action="/upload/" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="parts">
    <button type="submit" data-dump="#main" data-url="/upload/" formaction="/upload/" type="submit" title="Import Excel">
      Import Excel
    </button>
  </form>
  <form method="GET" action="/download/" enctype="multipart/form-data">
    <button type="submit" title="Export Excel">Export Excel</button>
  </form>
</div>