{% extends request.is_ajax|yesno:"ajax.html,base.html" %}

{% block content %}
  <div id="scanner-container"></div>
  <button type="button" class="scanner">
    Start/Stop Scanner
  </button>
  <br>
  <button type="button" class="torch">
    Toggle Torch
  </button>
  <br>
  <br>
  <form method="POST">
    {% csrf_token %}
    <label>
      Partno
    </label>
    <br>
    <input class="textfield" type="text" name="partno">
    <br>
    <br>
    <button formaction="/new/" type="submit">
      New
    </button>
    <input type="checkbox" name="plus">
      Add +1
    <br>
    <button formaction="/plus/" type="submit">
      Add
    </button>
    <button formaction="/minus/" type="submit">
      Subtract
    </button>
    <br>
    <button formaction="/edit/" type="submit">
      Edit
    </button>
    <button formaction="/delete/" type="submit">
      Delete
    </button>
  </form>
  <br>
  <table>
    <thead>
      <tr>
        <th>partno</th>
        <th>updated</th>
        <th>total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for part in parts %}
        <tr>
          <td>
            <span>
              {{ part.partno }}
            </span>
          </td>
          <td>
            <span>
              {{ part.updated_at }}
            </span>
          </td>
          <td>
            <span>
              {{ part.total }}
            </span>
          </td>
          <td>
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="partno" value="{{ part.partno }}">
              <button formaction="/plus/" type="submit">
                <i class="fas fa-plus"></i>
              </button>
              <button formaction="/minus/" type="submit">
                <i class="fas fa-minus"></i>
              </button>
              <button formaction="/edit/" type="submit">
                <i class="fas fa-edit"></i>
              </button>
              <button formaction="/delete/" type="submit">
                <i class="fas fa-trash-alt"></i>
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}